<nav>

    <a href="/">Homepage</a>
    <% if (user){ %>
        <a href="/auth/sign-out">Logout</a>
        <a href="/entries/all">All Entries</a>
        <a href="/entries/my-entries">My Entries</a>
        <% } else{ %>
            <a href="/auth/sign-up">Sign up</a>
            <a href="/auth/sign-in">Login</a>
            <a href="/entries/all">All Entries</a>

            <% } %>

</nav>