<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/css/style.css">

</head>

<body>
        <%- include('./partials/navbar') %>

    <h1>Add Journal</h1>
    <form action="/entries/new" method="post">
        <label for="title">Title: </label>
        <input required type="text" id="title" name="title" placeholder="Enter Title...">
        <br><br>
        <label for="entryBody">Journal Body: </label>
        <textarea id="entryBody" name="entryBody" placeholder="Enter Journal Body..."></textarea>
        <br><br>
        <label for="isPublic">Is Public? </label>
        <input type="checkbox" id="isPublic" name="isPublic" >
        <br><br>
        <button>Add Journal</button>
    </form>
</body>

</html>