<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Entries</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/navbar') %>

        <div class="entries-container">

            <h1>All Journals</h1>

            <% for(let oneEntry of allPublicEntries){ %>

                <div class="entry-card">

                    <p class="entry-title">
                        <%= oneEntry.title %>
                    </p>

                    <% if (user && oneEntry.owner==user._id) { %>
                        <div class="entry-buttons">
                            <button>Edit Journals</button>
                            <button>Delete Journals</button>
                        </div>
                        <% } %>

                </div>

                <% } %>
        </div>

</body>

</html>