<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>My Entries</h1>
    <%if (!myEntries){%>
        <p>empty entries</p>
        <%}%>
        <%for (let oneJournal of myEntries){%>
            <p>
                <%=oneJournal.title%>
            </p>
            <hr>
            <%}%>
</body>

</html>